@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Playwrite+NG+Modern:wght@100..400&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    filter: brightness(98%);
}
body{
    font-family: "Playwrite NG Modern", cursive;
      font-family: "Noto Sans KR", sans-serif;
    line-height: 1.6; //this is the recommended line-height by w3schools.com//
    margin: 0 auto;
    max-width: 95%;
    background-color: white;

}
.container{
    margin-top: 10px;
}
